<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="res/favicon.ico">

    <title>Evansville Day School Text Alerts</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Evansville Day School Text Alerts</a>
        </div>
		<div class="navbar-right" vertical-align="bottom">
				<p class="navbar-btn">
					<form id="logoutForm" action="{% url 'app-admin-logout' %}" method="get">
						<button type="button" class="btn btn-danger" onclick="btn_LogoutPressed()">Logout</button>
					</form>
                </p>
			</div>
      </div>
    </nav>
  
   <img src="{% static 'res/logo.jpg' %}" alt="Evansville Day School" style="max-width: 100%;max-height: 100%;width: auto;height: auto; margin-top: 60px; margin-bottom: 6px">

  
    <div class="container">
      
	  <div class="jumbotron">
        
       <div class="allignTextOverride">
       <h2>Manage Your Alert Lists</h2>
	    </div>
	   
      </div>
	  
	  <br>
	   
	<form id="createNewList" action="{% url 'app-admin-lists' %}" method="post"> {% csrf_token %}
		<div class="form-group">
			<label for="newListName"><h3>New List:</h3></label>
			<input type="newListName" class="form-control-maxWidth" id="newListName" name="newListName"> //I will need to add a name in addition to id
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	 <form>
	 
	 
	 <br>
	 
	 <h3>Current Lists:</h3>
	 
	 <table class="table">
    <thead>
      <tr>
        <th>List</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
	{% for list in mailingLists %}
	<tr>
        <td><p class="SmallPaddingForXSBTN"><u>{{list}}</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
    </tr>
	{% empty %}
	 <td><p class="SmallPaddingForXSBTN"><span class="glyphicon glyphicon-warning"></span><u>The mailing list is empty...</u></p></td>
	{% endfor %}
	<!-- 
      <tr>
        <td><p class="SmallPaddingForXSBTN"><u>School Cancellation/Delays</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
      <tr>
        <td><p class="SmallPaddingForXSBTN"><u>Lower School Sports</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
      <tr>
        <td><p class="SmallPaddingForXSBTN"><u>Upper School Sports</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
	  <tr>
        <td><p class="SmallPaddingForXSBTN"><u>Lower School General Announcements</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
	  <tr>
        <td><p class="SmallPaddingForXSBTN"><u>Upper School General Announcements</u></p></td>
        <td><button type="button" class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
	  -->
    </tbody>
  </table>
		
		<br>
		<div align="center">
		<b><u>Return to Organization Management Menu</u></b>
		</div>
		
	  </div>
	  
	 
      </div>

    </div> <!-- /container -->
	
	 <!-- Logic for logout button -->
    <script>
    	function btn_LogoutPressed(){
    		document.getElementById("logoutForm").submit();
    	}
    </script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>